body {
  background-image: url('../images/white.jpg');
  background-size: cover;
  color: white;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: transparent;
}

.space{
  padding-top: 300px;
}

.shade {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #18bc9c;
  color: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.btn {
  padding: 7px 10px;
}

.display {
  padding-left: 300px;
  max-width: 825px;
}