body {
  background-image: url('../images/white.jpg');
  background-size: cover;
  color: white;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: transparent;
}

.space{
  padding-top: 300px;
}

.shade {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #18bc9c;
  color: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.btn.btn-primary {
  padding-top: 18px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.confine {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.display {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
}

.confine2 {
  margin-left: auto;
  margin-right: auto;
}

table {
  background-color: transparent;
}

.btn-warning {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  background-color: white;
  border-color: white;
}

.btn-primary {
  background-color: black;
  border-color: #18bc9c;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: black;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

img {
  float: left;
  margin-right: 25px;
}