@(message: String)

@Main("Canvas") {

  <div class="container">
    <div class="space"></div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
      <label class="btn btn-primary"><input type="checkbox" autocomplete="off">1</label>
    </div>

  </div>
}