@(message: String)

  @Main("Home") {

    <div class="space"></div>
    <div class="shade">
      <div class="tagline text-center">
        <h1>Infinity Display Web Controller</h1>
        <button class="btn btn-default" type="button"><a href="@routes.Application.theory()">Theory</a></button>
        <button class="btn btn-default" type="button"><a href="@routes.Application.directions()">Directions</a></button>
        <button class="btn btn-default" type="button"><a href="@routes.Application.newContact()">Canvas</a></button>

      </div>
    </div>

  }