@(message: String)

  @Main("Home") {

    <div class="space"></div>
    <div class="shade">
      <div class="tagline text-center">
        <h1>Become the VJ</h1>
        <button type="submit" class="btn btn-default"><a href="@routes.Application.newContact()">Theory</a></button>
        <button type="submit" class="btn btn-default"><a href="@routes.Application.newContact()">Directions</a></button>
        <button type="submit" class="btn btn-default"><a href="@routes.Application.newContact()">Canvas</a></button>


      </div>
    </div>
  }